<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let filmes of filmes">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{filmes.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="POSTER_URL + filmes.poster_path" alt="filme.title"></ion-img>
        {{filmes.overviw}}
      </ion-card-content>
      <ion-button fill="clear">Ver mais</ion-button>
    </ion-card>
  </ion-item>
</ion-content>
